/* Product Modal */

.modalDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 70vh;
  width: 50vw;
  z-index: 100;
  background-color: rgba(var(--rosa-agur-rgb), 0.8);
  top: 15%;
  left: 25%;
}
.modalDiv * {
  margin: 0;
  padding: 0;
}
.modalExit {
  font-size: 25px;
  height: 30px;
  width: 30px;
  align-self: flex-end;
}
