.botonNav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  font-variant: small-caps;
  border: none;
  min-height: 70px;
  min-width: 80px;
  font-size: 100%;
  background-color: rgb(var(--background-start-rgb));
  z-index: 1;
  border-radius: 100%;
  position: relative;
  transition: font-weight 0.1s ease-in-out;
}

.botonNav::after {
  content: "";
  position: absolute;
  transform: scale(0);
  height: 70px;
  width: 70px;
  border-radius: 100%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  z-index: -1;

  background-color: rgb(var(--amarillo-agur-rgb));
}
.logoNav {
  position: relative;
}
@media (hover: hover) and (pointer: fine) {
  .botonNav:visited {
    text-decoration: none;
  }
  .botonNav:hover {
    font-weight: bolder;
  }
  .botonNav:hover svg path {
    stroke-width: 1.8;
  }
  .botonNav:hover::after {
    opacity: 1;
    transform: scale(1);
  }
}
