.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  min-height: 65vh;
  max-width: 95vw;
}

/*Banner Collage*/

.BannerCollage {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 100%;
  height: 55vh;
  grid-gap: 7px;
}

.BannerItem1 {
  background-image: url("../../public/images/assetsB-3.png");
  background-size: cover;
  background-position: 0px -680px;
  grid-column: 1/4;
  grid-row: 1/2;
}

.BannerItem2 {
  background-image: url("../../public/images/assetsB-1.png");
  background-size: cover;
  background-position: center;
  grid-column: 1/2;
  grid-row: 2/5;
}

.BannerItem3 {
  background-image: url("../../public/images/assets-7.png");
  background-size: cover;
  background-position: 0px 150px;
  grid-column: 1/5;
  grid-row: 5/5;
}

.BannerItem4 {
  background-image: url("../../public/images/assetsB-2.png");
  background-size: cover;
  background-position: center;
  grid-column: 2/4;
  grid-row: 2/5;
}

.BannerItem5 {
  background-image: url("../../public/images/assetsB-4.png");
  background-size: cover;
  background-position: center;
  grid-column: 4/6;
  grid-row: 1/3;
}

.BannerItem6 {
  background-image: url("../../public/images/assetsB.png");
  background-size: cover;
  background-position: center;
  grid-column: 4/5;
  grid-row: 3/5;
}

.BannerItem7 {
  background-image: url("../../public/images/assets.png");
  background-size: cover;
  background-position: center;
  grid-column: 5/6;
  grid-row: 3/6;
}

.BannerItem8 {
  background-image: url("../../public/images/assetsB-5.png");
  background-size: cover;
  background-position: center;
  grid-column: 6/8;
  grid-row: 1/6;
}

/*Shop Grid*/
.shop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 8px;
  column-gap: 8px;
}

/*Titles*/
.titulo {
  
  font-size: 3rem;
  text-align: center;
  
}
.subtitulo {
  
  font-size: 1.5rem;
  text-align: center;
}



/*Navbar*/
.navbar {
  height: 115px;
  background-color: rgb(248, 248, 229);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}


.botonera {
  display: flex;
  min-height: 100%;
  align-items: center;
}
.botonNav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  font-variant: small-caps;
  border: none;
  min-height: 70px;
  min-width: 80px;
  font-size: 100%;
  background-color: rgb(var(--background-start-rgb));
  z-index: 1;
  border-radius: 100%;
  position: relative;
  transition: font-weight 0.1s ease-in-out;
}

.botonNav::after {
  content: ""; /* Empty content creates the overlay element */
  position: absolute; /* Overlays the image content */
  transform: scale(0);
  height: 70px;
  width:  70px;
  border-radius: 100%; /* Creates circular shape */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out; /* Smooth fade-in animation */
  z-index: -1;
  /* Adjust these properties for desired bubble size and color */
  background-color: rgb(var(--amarillo-agur-rgb));
 
}

/* Banner Info */
.bannerInfo {
  
  display: flex;
  width: 110%;
  margin: 20px 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--azul-agur-rgb));
}

.bannerInfo p {
  display: flex;
  line-height: 100%;
  align-items: center;
  font-size: 20px;
  text-align: center;
  
}

/* Banner Pagos */

.bannerPago {
  
  display: flex;
  width: 120%;
  margin: 20px 0;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(var(--rojo-agur-rgb));
}

.bannerPago p {
  display: flex;
  line-height: 100%;
  align-items: center;
  
  font-size: 19px;
}
/*Itemcard*/

.card {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 40vh;
  height: 50vh;
}

.card .cardPrecio {
  font-size: xx-large;
  font-weight: 500;
  z-index: 1;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  position: absolute;
  bottom: 5rem;
  right: 1rem;
  
}
.card .cardName {
  font-size: x-large;
  font-weight: 400;
  font-variant: small-caps;
  z-index: 1;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  position: absolute;
  bottom: 2.5rem;
  right: 1rem;
}

.cardBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card .cardBtnInfo {
  font-variant: small-caps;
  font-size: 1.1rem;
  z-index: 1;
  
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 50%;
  border: 0.5px solid transparent;
  background-color: rgb(var(--rosa-agur-rgb));
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.card .cardBtnAdd {
  font-variant: small-caps;
  font-size: 1.1rem;
  z-index: 1;
  
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  position: absolute;
  bottom: 1rem;
  right: 0;
  width: 50%;
  border: 0.5px solid transparent;
  background-color: rgb(var(--rosa-agur-rgb));
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}


.cardImg {
  width: 40vh;
  height: 50vh;
}
.card::before {
  content: "";
  position: absolute;
  top: 60%; /* Adjust depending on desired offset */
  left: -15%;
  background-color: rgb(var(--rosa-agur-rgb));
  border-radius: 50%;
  opacity: 0; /* Adjust for desired transparency */
  height: 300px; /* Adjust depending on desired size */
  width: 1200px; /* Adjust depending on desired size */
  object-fit: contain;
  z-index: 1;
  pointer-events: none;
  transform: scale(0);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
/* Tabla talles */
.divTalles {
  font-variant: small-caps;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.table {
  border: 1px solid black;
  border-collapse: collapse; /* Remove spaces between cells */
  width: 100%;
  margin-bottom: 30px;
}
.table th,
.table td {
  text-align: center;
  line-height: 2em;
  border: 1px solid black;
}

/* pagina Hola */
.aboutGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  align-items: center;
  justify-content: center;  
}
.about {
  text-align: justify;
  font-size: larger;
  grid-column: 1/3; /* Spans two columns (1 to 2) */
  grid-row: 1; /* Occupies two rows (1 to 1) */
}

.aboutFlavor {
  grid-column: 1/3; /* Spans two columns (1 to 2) */
  grid-row: 2/3; /* Occupies two rows (2 to 2) */
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: 0px -210px;
}


.aboutAnita {
  grid-column: 3; /* Starts at column 3 and ends at column 4 (inclusive) */
  grid-row: 1/3;
}



.tallesContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}
.tallesContainerB {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

/*Footer*/
.footer {
  text-align: center;
  padding: 1rem;
}

.logo {
  position: relative;
}



/* Enable hover only on non-touch devices */
@media (hover : hover) and (pointer: fine) {
 
  .botonNav:visited {
    text-decoration: none;
  }
  .botonNav:hover {
    font-weight:bolder;
  }
  .botonNav:hover svg path {
    stroke-width: 1.8;
  }
  .botonNav:hover::after {
    opacity: 1;
    transform: scale(1);
  }
  
  .card:hover::before {
    transform: scale(1);
    opacity: 0.7;
  }
  
  .card:hover .cardPrecio,
  .card:hover .cardName,
  .card:hover .cardBtnInfo,
  .card:hover .cardBtnAdd {
  opacity: 1;

}
  .cardBtnAdd:hover {
    border: 0.5px solid rgb(var(--amarillo-agur-rgb));
    background-color: rgb(var(--amarillo-agur-rgb));
  }
  .cardBtnInfo:hover {
    border: 0.5px solid rgb(var(--amarillo-agur-rgb));
    background-color: rgb(var(--amarillo-agur-rgb));
  }

}



/* Mobile */
@media (max-width: 700px) {
  
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}
