/* Banner Pagos */

.bannerPago {
  padding: 1rem 0;
  display: flex;
  width: 120%;
  margin: 20px 0;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(var(--rojo-agur-rgb));
}

.bannerPago p {
  display: flex;
  line-height: 100%;
  align-items: center;

  font-size: 19px;
}
